<!DOCTYPE html>
<html lang="en"> 
<head>
<meta charset="utf-8"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'chat.css'%}"/>
	<script src="{% static 'c_sea_display.js'%}"></script>
</head>
<body ng-app>
	<div class="content-div">
		<div class="chatbox-ratio-wrapper">
			<div id="chat-column">
				<div class="display-wrapper">
					<div id="replies-div" class="info-box">
						<div class="reply">
							<p>Hello! My name is Kyte from Cerulean Sea. I am a program who will try to analyze your sentence and answer from a list of replies. Here are my instructions: </p>
								<p>1) Please use proper grammar and spelling with me! I am a young bot who hasn't learned how to autocorrect yet. </p>
								<p>2) Only send in one sentence at a time.</p>
								<p>3) I have learned some special commands. If you are interested, ask about "special commands" or try asking who my creator is.</p>
						</div>
					</div>
				</div>
				<div class="display-wrapper">
					<div id="input-div" class="info-box">
						<textarea id="text-input" name="input-text" autocomplete="off" placeholder="Type something here and hit enter."></textarea>
						<br/>
					</div>
				</div>
			</div>
			<div id="hover-column">
				<div class="display-wrapper">
					<div id="hover-box" class='info-box' ng-controller = "replyController">
						<p>
							Select a processed word for in-depth information. (You will need to send some text for processing first.)
						</p>
					</div>
				</div>
			</div>


		</div>	
	</div>
</body>

</html>
