<!DOCTYPE html>
<html lang="en"> 
<head>
<meta charset="utf-8"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'chat.css'%}"/>
	<script src="{% static 'c_sea_display.js'%}"></script>
	<script src="{% static 'controllers/replyController.js'%}"></script>
</head>
<body ng-app="c_sea">
	<div class="content-div" ng-controller="replyController">
		<div class="chatbox-ratio-wrapper">
			<div id="chat-column">
				<div class="display-wrapper">
					<div id="replies-div" class="info-box">
						<div class="reply"">
							<div reply-table tokens=tokens isText=isText lineContents=lineContents></div>
						</div>
					</div>
				</div>
				<div class="display-wrapper">
					<div id="input-div" class="info-box">
						<textarea id="text-input" name="input-text" autocomplete="off" placeholder="Type something here and hit enter." ng-keydown="sendSentence($event)" ng-model="sentence"></textarea>
						<br/>
					</div>
				</div>
			</div>
			<div id="hover-column">
				<div class="display-wrapper">
					<div id="hover-box" class='info-box' explanation>
					</div>
				</div>
			</div>


		</div>	
	</div>
</body>
</html>
