<!DOCTYPE html>
<html lang="en"> 
<head>
<meta charset="utf-8"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
	<!--{% load static %} -->

	<!--<link rel="stylesheet" type="text/css" href="{% static 'text_analysis/chat.css'%}"/>-->
	<link rel="stylesheet" type="text/css" href="chat.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="./c_sea.js"></script>

</head>
<body>
	<div class="content-div">
		<div class="chatbox-ratio-wrapper">
			<div id="chat-column">
				<div class="display-wrapper">
					<div id="reply-div" class="info-box">
						<span class="reply">word</span>
					</div>
				</div>
				<div class="display-wrapper">
					<div id="input-div" class="info-box">
						<textarea id="text-input" name="input-text" autocomplete="off" placeholder="Type something here and hit enter."></textarea>
						<br/>
					</div>
				</div>
			</div>
			<div id="hover-column">
				<div class="display-wrapper">
					<div id="hover-box" class='info-box'>
						<h3>Word</h3>
						<h4>Part of Speech - Noun</h4>
							<p> POS is this.</p>
							<p>nouns are these.</p>
						<h4>Lemma - word</h4>
							<p> lemma is this.</p>
							<p>nouns are these.</p>
						<h4>Shape - word</h4>
							<p> Shape is this.</p>
						<h4>alpha - word</h4>
							<p>nouns are these.</p>
						<h4>stop - word</h4>
							<p>stop are these.</p>

						<p>if you want to know more about somthing, ask me. </p>
						<p>
							Select a processed word for in-depth information. (You will need to send some text for processing first.)cessed word for in-depth information. (You will need to send some text for processing first.)
						</p>

					</div>
				</div>
			</div>


		</div>	
	</div>
</body>

</html>
