html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: Lato, Arial, sans-serif;
	font-size: 14pt;
}

html {
	background: linear-gradient(#da91ec 20%, #4ab9ff);
	color: #3f3f3f;
}

body {
	background: linear-gradient(to bottom, rgba(200, 200, 200, .3), rgba(200, 200, 200, .3), 30%, transparent 30%, transparent);
	background-size: 30px 5px;
}

textarea {
	font-family: Lato, Arial, sans-serif;
	font-size: 14pt;
	width: 100%;
	height: 100%;
	border: 1em solid rgb(0,0,0,0);
	margin: -1em;	
	resize: none;
	background: none;
}

.content-div {
	position: absolute;
	top: 0; bottom: 0; right: 0; left: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;     
	margin: 2em;
}

.content-div div{
	border-radius: .5em;
}

#chat-column {
	width: 70%;
	height: 100%;
}

#chat-column .display-wrapper:first-child {
	height: 75%;
}

#chat-column .display-wrapper {
	height: 25%;
	position: relative;
}

.chatbox-ratio-wrapper {
	background: rgba(127, 127, 127, .5);
	height:100%; 
	width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
	overflow: hidden;
}

.chatbox-ratio-wrapper > div {
    position: relative;
}

#chat-column .column-wrapper div {
	width: auto;
}

#input-div {
	top: 0em;
    justify-content: initial; 
    align-items: flex-start;     
}

.display-wrapper #replies-div .reply {
	border-radius: 0;
	border-bottom: 2px solid #3f3f3f;
}

.reply table {
	padding-top: 1em;
	display: block;
	width: 100%;
}

.reply tbody, .reply thead {
	width: 100%;
	display: block;
}

.reply thead { 
	width: 100%;
	display: block;
	background: #4ab9ff;
	color: white;
}

.reply tr {
	display: block;
	width: 100%;

	border-bottom: 1px solid #000000;
	text-align: left;
}

.reply th {
	display: inline-block;
	width: 16%;
	padding: 1%;
	margin: 0;
 }
.reply p {
	padding-top: 0;
}

#hover-column {
	width: 30%;
	height: 100%;
}

#hover-box {
	overflow-y: scroll;
}

.info-box {
	background: rgba(255, 255, 255, .9);
	border: 3px solid #3f3f3f;
	position: absolute;
	bottom: 1em; top: 1em; left: 1em; right: 1em;
	padding: 1em;
	overflow-y: scroll;
}

#hover-box p, #hover-box h3, #hover-box h4 {
	margin-bottom: .5em;
	margin-top: 0em;
	left: 0em;
}

